extends ../../../jade/page.jade

block name
  -name = "materiable-press"

block basePath
  -basePath = "../../../"

block content
  h1 Materiable press
  hr
  -
    articles = [
      ["fastcodesign.com/3059672/mits-latest-tangible-interface-shape-shifting-digital-clay", "MIT's Latest Tangible Interface? Shape-Shifting Digital Clay", "John Brownlee", "Fast.Co.Design", "05/2016"],
      ["fastcodesign.com/3059848/8-incredible-prototypes-that-show-the-future-of-human-computer-interaction", "8 Incredible Prototypes That Show The Future Of Human-Computer Interaction", "John Brownlee", "Fast.Co.Design", "05/2016"],
      ["bgr.com/2016/05/11/shape-shifting-interface-materiable-mit/", "Materiable is a shape-shifting digital interface that can behave like a liquid", "Zach Epstein", "BGR", "05/2016"],
    ]
  ul.press-list.list-unstyled
    for article in articles
      li
        a(href='//#{article[0]}', target='_blank')
          span.title #{article[1]}
        | , #[span.publication #{article[3]}], #[span.year #{article[4]}]
  hr
  a.back(href='../..') &#8592; back
