extends ../jade/page.jade

block name
  -name = "recommendations"

block basePath
  -basePath = "../"

block content
  h1 Recommendations
  p I keep a list of #[a(href='http://bit.ly/UNZXBQ', target='_blank') the things I recommend most] here. Perhaps I'll port it from the google doc at some point, but for now that's where you can find them.
