extends ../jade/page.jade

block name
  -name = "lottery"

block basePath
  -basePath = "../"

block content
  h1 Lottery Numbers
  ul
    li 1745
    li 6893
    li 0870
    li 9382
    li 8086
    li 2366
    li 5563
    li 8162
    li 2027
    li 4374
    li 5816
    li 3957
    li 2408
    li 1578
    li 2004
    li 4246
    li 2918
    li 2045
    li 2445
    li 0975
